<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>RaspiCamera</title>
  <base href="/">
  <link rel="stylesheet" href="{{ asset('bundles/raspicamera/styles.bundle.css') }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <app-root>Loading...</app-root>
  <script type="text/javascript" src="{{ asset('bundles/raspicamera/inline.bundle.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/raspicamera/polyfills.bundle.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/raspicamera/scripts.bundle.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/raspicamera/vendor.bundle.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/raspicamera/main.bundle.js') }}"></script>
</body>
</html>